/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #ffffff;

  background: linear-gradient(120deg, #1f1c2c, #928dab);

  min-height: 100vh;
} */
